In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statistics as s

In [5]:
data = pd.read_csv('nyc.csv')

In [6]:
data.head()

   Unnamed: 0  BOROUGH  ... SALE PRICE         SALE DATE
0           4        1  ...    6625000  19-07-2017 00:00
1           5        1  ...        -    14-12-2016 00:00
2           6        1  ...        -    09-12-2016 00:00
3           7        1  ...    3936272  23-09-2016 00:00
4           8        1  ...    8000000  17-11-2016 00:00

[5 rows x 22 columns]

# Objective 1

In [7]:
data.drop(columns=['Unnamed: 0','APARTMENT NUMBER','EASE-MENT','ADDRESS'], inplace=True)

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25634 entries, 0 to 25633
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         25634 non-null  int64
 1   NEIGHBORHOOD                    25634 non-null  object
 2   BUILDING CLASS CATEGORY         25634 non-null  object
 3   TAX CLASS AT PRESENT            25634 non-null  object
 4   BLOCK                           25634 non-null  int64
 5   LOT                             25633 non-null  float64
 6   BUILDING CLASS AT PRESENT       25633 non-null  object
 7   ZIP CODE                        25633 non-null  float64
 8   RESIDENTIAL UNITS               25633 non-null  float64
 9   COMMERCIAL UNITS                25633 non-null  float64
 10  TOTAL UNITS                     25633 non-null  float64
 11  LAND SQUARE FEET                25633 non-null  object
 12  GROSS SQUARE FEET               25633 non-null  object
 13  YEAR BUILT                      25633 non-null  float64
 14  TAX CLASS AT TIME OF SALE       25633 non-null  float64
 15  BUILDING CLASS AT TIME OF SALE  25633 non-null  object
 16  SALE PRICE                      25633 non-null  object
 17  SALE DATE                       25633 non-null  object
dtypes: float64(7), int64(2), object(9)
memory usage: 3.5+ MB

In [9]:
data['BOROUGH_code'] = data['BOROUGH'].astype('category')
data['NEIGHBORHOOD_code'] = data['NEIGHBORHOOD'].astype('category')
data['BUILDING CLASS CATEGORY_code'] = data['BUILDING CLASS CATEGORY'].astype('category')
data['TAX CLASS AT PRESENT_code'] = data['TAX CLASS AT PRESENT'].astype('category')
data['BLOCK_code'] = data['BLOCK'].astype('category')
data['LOT_code'] = data['LOT'].astype('category')
data['BUILDING CLASS AT PRESENT_code'] = data['BUILDING CLASS AT PRESENT'].astype('category')
data['ZIP CODE_code'] = data['ZIP CODE'].astype('category')
data['TAX CLASS AT TIME OF SALE_code'] = data['TAX CLASS AT TIME OF SALE'].astype('category')
data['BUILDING CLASS AT TIME OF SALE_code'] = data['BUILDING CLASS AT TIME OF SALE'].astype('category')
data['YEAR BUILT_code'] = data['YEAR BUILT'].astype('category')

In [10]:
data.drop(columns=['BOROUGH','NEIGHBORHOOD','BUILDING CLASS CATEGORY','TAX CLASS AT PRESENT','BLOCK','LOT','BUILDING CLASS AT PRESENT','ZIP CODE','TAX CLASS AT TIME OF SALE','BUILDING CLASS AT TIME OF SALE','YEAR BUILT'], inplace=True)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25634 entries, 0 to 25633
Data columns (total 18 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   RESIDENTIAL UNITS                    25633 non-null  float64
 1   COMMERCIAL UNITS                     25633 non-null  float64
 2   TOTAL UNITS                          25633 non-null  float64
 3   LAND SQUARE FEET                     25633 non-null  object
 4   GROSS SQUARE FEET                    25633 non-null  object
 5   SALE PRICE                           25633 non-null  object
 6   SALE DATE                            25633 non-null  object
 7   BOROUGH_code                         25634 non-null  category
 8   NEIGHBORHOOD_code                    25634 non-null  category
 9   BUILDING CLASS CATEGORY_code         25634 non-null  category
 10  TAX CLASS AT PRESENT_code            25634 non-null  category
 11  BLOCK_code                           25634 non-null  category
 12  LOT_code                             25633 non-null  category
 13  BUILDING CLASS AT PRESENT_code       25633 non-null  category
 14  ZIP CODE_code                        25633 non-null  category
 15  TAX CLASS AT TIME OF SALE_code       25633 non-null  category
 16  BUILDING CLASS AT TIME OF SALE_code  25633 non-null  category
 17  YEAR BUILT_code                      25633 non-null  category
dtypes: category(11), float64(3), object(4)
memory usage: 2.1+ MB

In [12]:
data['RESIDENTIAL UNITS'] = pd.to_numeric(data['RESIDENTIAL UNITS'], errors='coerce')
data['COMMERCIAL UNITS'] = pd.to_numeric(data['COMMERCIAL UNITS'], errors='coerce')
data['TOTAL UNITS'] = pd.to_numeric(data['TOTAL UNITS'], errors='coerce')
data['LAND SQUARE FEET'] = pd.to_numeric(data['LAND SQUARE FEET'], errors='coerce')
data['GROSS SQUARE FEET'] = pd.to_numeric(data['GROSS SQUARE FEET'], errors='coerce')
data['SALE PRICE'] = pd.to_numeric(data['SALE PRICE'], errors='coerce')

In [13]:
data = data[data['SALE PRICE'] >= 100000]
data = data[data['SALE PRICE'] <= 5000000]

In [14]:
data['LAND SQUARE FEET'].fillna((data['LAND SQUARE FEET'].mean()), inplace=True)
data['GROSS SQUARE FEET'].fillna((data['GROSS SQUARE FEET'].mean()), inplace=True)
data.rename(columns={'LAND SQUARE FEET': 'LAND_SQUARE_FEET', 'GROSS SQUARE FEET': 'GROSS_SQUARE_FEET'}, inplace=True)

In [15]:
import datetime as dt
data['SALE DATE'] = pd.to_datetime(data['SALE DATE'], errors='coerce')
data['SALE_YEAR'] = data['SALE DATE'].dt.year
data['SALE_MONTH'] = data['SALE DATE'].dt.month
data['SALE_Quarter'] = data['SALE DATE'].dt.quarter
data['SALE_DAY'] = data['SALE DATE'].dt.day
data.drop(columns=['SALE DATE'], inplace=True)

In [16]:
#data[['SALE DATE','SALE_YEAR','SALE_MONTH','SALE_Quarter','SALE_DAY']]

In [17]:
data.rename(columns={'SALE PRICE': 'SALE_PRICE'}, inplace=True)
y = data['SALE_PRICE']
y_norm = ((y ** 2).sum() ** .5)
y = y.apply(lambda x: x/ y_norm )

In [18]:
y_norm

200279009.43964908

In [19]:
data.columns.tolist()

['RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND_SQUARE_FEET',
 'GROSS_SQUARE_FEET',
 'SALE_PRICE',
 'BOROUGH_code',
 'NEIGHBORHOOD_code',
 'BUILDING CLASS CATEGORY_code',
 'TAX CLASS AT PRESENT_code',
 'BLOCK_code',
 'LOT_code',
 'BUILDING CLASS AT PRESENT_code',
 'ZIP CODE_code',
 'TAX CLASS AT TIME OF SALE_code',
 'BUILDING CLASS AT TIME OF SALE_code',
 'YEAR BUILT_code',
 'SALE_YEAR',
 'SALE_MONTH',
 'SALE_Quarter',
 'SALE_DAY']

In [20]:
data=data[['RESIDENTIAL UNITS',
 'COMMERCIAL UNITS',
 'TOTAL UNITS',
 'LAND_SQUARE_FEET',
 'GROSS_SQUARE_FEET',
 'BOROUGH_code',
 'NEIGHBORHOOD_code',
 'BUILDING CLASS CATEGORY_code',
 'TAX CLASS AT PRESENT_code',
 'BLOCK_code',
 'LOT_code',
 'BUILDING CLASS AT PRESENT_code',
 'ZIP CODE_code',
 'TAX CLASS AT TIME OF SALE_code',
 'BUILDING CLASS AT TIME OF SALE_code',
 'YEAR BUILT_code',
 'SALE_YEAR',
 'SALE_MONTH',
 'SALE_Quarter',
 'SALE_DAY',
 'SALE_PRICE']]

In [21]:
X= data.iloc[:, :-1]

In [22]:
X.head()

    RESIDENTIAL UNITS  COMMERCIAL UNITS  ...  SALE_Quarter  SALE_DAY
3                10.0               0.0  ...             3        23
6                 8.0               0.0  ...             3        23
13                0.0               0.0  ...             4         3
15                0.0               0.0  ...             3         6
16                0.0               0.0  ...             3        14

[5 rows x 20 columns]

In [23]:
from sklearn.preprocessing import normalize
X['LAND_SQUARE_FEET'] = normalize(X['LAND_SQUARE_FEET'].values.reshape(1,-1))[0]
X['GROSS_SQUARE_FEET'] = normalize(X['GROSS_SQUARE_FEET'].values.reshape(1,-1))[0]

In [24]:
X = X.values

In [25]:
from sklearn.model_selection import train_test_split
train, test= train_test_split(X,test_size=0.20, random_state=42)

In [26]:
data_1 = "{:.2f}".format(y_norm)

In [27]:
data_1

'200279009.44'

# Objective 2

In [28]:
from statsmodels.regression.quantile_regression import QuantReg
import statsmodels.formula.api as smf
model_1 = smf.quantreg('SALE_PRICE ~ LAND_SQUARE_FEET',data)

In [29]:
quantiles = np.arange(0.1,1,0.1)

In [30]:
params = []

for qt in quantiles:
    res = model_1.fit(q = qt )
    params.append([qt, res.params['Intercept']])


data_2 = pd.DataFrame(data = params, columns = ['qt','Intercept'])

/usr/local/lib/python3.6/dist-packages/statsmodels/regression/quantile_regression.py:192: IterationLimitWarning: Maximum number of iterations (1000) reached.
  ") reached.", IterationLimitWarning)
/usr/local/lib/python3.6/dist-packages/statsmodels/regression/quantile_regression.py:187: ConvergenceWarning: Convergence cycle detected
  warnings.warn("Convergence cycle detected", ConvergenceWarning)

In [31]:
res = model_1.fit(q=0.1)
res.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                         QuantReg Regression Results
==============================================================================
Dep. Variable:             SALE_PRICE   Pseudo R-squared:              0.03412
Model:                       QuantReg   Bandwidth:                   1.168e+05
Method:                 Least Squares   Sparsity:                    1.163e+06
Date:                Wed, 02 Sep 2020   No. Observations:                17089
Time:                        19:03:03   Df Residuals:                    17087
                                        Df Model:                            1
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Intercept          1.89e+05   6801.648     27.787      0.000    1.76e+05    2.02e+05
LAND_SQUARE_FEET    55.5000      2.543     21.824      0.000      50.515      60.485
====================================================================================

The condition number is large, 4.97e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [32]:
data_2

    qt     Intercept
0  0.1  1.890000e+05
1  0.2  2.350000e+05
2  0.3  2.850000e+05
3  0.4  3.370000e+05
4  0.5  3.836285e+05
5  0.6  4.850000e+05
6  0.7  6.675000e+05
7  0.8  9.860022e+05
8  0.9  1.748872e+06

# Objective 3

In [33]:
X = data[data.columns.difference(['SALE_PRICE'])]
X

      BLOCK_code BOROUGH_code  ... YEAR BUILT_code ZIP CODE_code
3            402            1  ...          1913.0       10009.0
6            406            1  ...          1920.0       10009.0
13           373            1  ...          1920.0       10009.0
15           373            1  ...          1920.0       10009.0
16           373            1  ...          1920.0       10009.0
...          ...          ...  ...             ...           ...
25611       6414            3  ...             0.0       11214.0
25627       5763            3  ...          1935.0       11220.0
25628       5763            3  ...          1935.0       11220.0
25630       5841            3  ...          1950.0       11220.0
25632       5848            3  ...          1899.0       11220.0

[17089 rows x 20 columns]

In [34]:
from sklearn import preprocessing 
  
label_encoder = preprocessing.LabelEncoder() 

X['BUILDING CLASS AT TIME OF SALE_code']= label_encoder.fit_transform(X['BUILDING CLASS AT TIME OF SALE_code'])
X['BUILDING CLASS CATEGORY_code']= label_encoder.fit_transform(X['BUILDING CLASS CATEGORY_code'])
X['BLOCK_code']= label_encoder.fit_transform(X['BLOCK_code'])
X['BOROUGH_code']= label_encoder.fit_transform(X['BOROUGH_code'])
X['BUILDING CLASS AT PRESENT_code']= label_encoder.fit_transform(X['BUILDING CLASS AT PRESENT_code'])

X['LOT_code']= label_encoder.fit_transform(X['LOT_code'])
X['TAX CLASS AT PRESENT_code']= label_encoder.fit_transform(X['TAX CLASS AT PRESENT_code'])
X['TAX CLASS AT TIME OF SALE_code']= label_encoder.fit_transform(X['TAX CLASS AT TIME OF SALE_code'])
X['YEAR BUILT_code']= label_encoder.fit_transform(X['YEAR BUILT_code'])
X['ZIP CODE_code']= label_encoder.fit_transform(X['ZIP CODE_code'])
X['NEIGHBORHOOD_code']= label_encoder.fit_transform(X['NEIGHBORHOOD_code'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [35]:
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
lr = LinearRegression(normalize=True)
lr.fit(X,y)
#stop the search when only the last feature is left
rfe = RFE(lr, n_features_to_select=10)
rfe.fit(X,y)
#ranks["RFE"] = ranking(list(map(float, rfe.ranking_)), colnames, order=-1)

RFE(estimator=LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
                               normalize=True),
    n_features_to_select=10, step=1, verbose=0)

In [36]:
from sklearn.preprocessing import MinMaxScaler
def ranking(ranks, names, order=1):
    minmax = MinMaxScaler()
    ranks = minmax.fit_transform(order*np.array([ranks]).T).T[0]
    ranks = map(lambda x: round(x,2), ranks)
    return dict(zip(names, ranks))

In [37]:
ranks = {}
ranks["RFE"] = ranking(list(map(float, rfe.ranking_)), X.columns, order=-1)

In [38]:
from operator import itemgetter
k = sorted(ranks['RFE'].items(), key=itemgetter(1))
k

[('GROSS_SQUARE_FEET', 0.0),
 ('LAND_SQUARE_FEET', 0.1),
 ('LOT_code', 0.2),
 ('BLOCK_code', 0.3),
 ('YEAR BUILT_code', 0.4),
 ('NEIGHBORHOOD_code', 0.5),
 ('SALE_DAY', 0.6),
 ('SALE_MONTH', 0.7),
 ('SALE_Quarter', 0.8),
 ('ZIP CODE_code', 0.9),
 ('BOROUGH_code', 1.0),
 ('BUILDING CLASS AT PRESENT_code', 1.0),
 ('BUILDING CLASS AT TIME OF SALE_code', 1.0),
 ('BUILDING CLASS CATEGORY_code', 1.0),
 ('COMMERCIAL UNITS', 1.0),
 ('RESIDENTIAL UNITS', 1.0),
 ('SALE_YEAR', 1.0),
 ('TAX CLASS AT PRESENT_code', 1.0),
 ('TAX CLASS AT TIME OF SALE_code', 1.0),
 ('TOTAL UNITS', 1.0)]

In [39]:
k = k[-10:]
k

[('BOROUGH_code', 1.0),
 ('BUILDING CLASS AT PRESENT_code', 1.0),
 ('BUILDING CLASS AT TIME OF SALE_code', 1.0),
 ('BUILDING CLASS CATEGORY_code', 1.0),
 ('COMMERCIAL UNITS', 1.0),
 ('RESIDENTIAL UNITS', 1.0),
 ('SALE_YEAR', 1.0),
 ('TAX CLASS AT PRESENT_code', 1.0),
 ('TAX CLASS AT TIME OF SALE_code', 1.0),
 ('TOTAL UNITS', 1.0)]

In [40]:
data_3 = sorted(ranks['RFE'], key=ranks['RFE'].get)[-10:]
data_3 = pd.DataFrame(data = data_3, columns = ['Features'])
data_3

                              Features
0                         BOROUGH_code
1       BUILDING CLASS AT PRESENT_code
2  BUILDING CLASS AT TIME OF SALE_code
3         BUILDING CLASS CATEGORY_code
4                     COMMERCIAL UNITS
5                    RESIDENTIAL UNITS
6                            SALE_YEAR
7            TAX CLASS AT PRESENT_code
8       TAX CLASS AT TIME OF SALE_code
9                          TOTAL UNITS

# Objective 4

In [41]:
from sklearn.ensemble import RandomForestRegressor
random_forest = RandomForestRegressor(n_estimators=5, max_depth=5, random_state=123)
random_forest.fit(X, y)

#Predict Output y_predict = random_forest.predict(X_val)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=5, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=5, n_jobs=None, oob_score=False,
                      random_state=123, verbose=0, warm_start=False)

In [42]:
ranks["RF"] = ranking(random_forest.feature_importances_, X.columns)

In [43]:
data_4 = sorted(ranks['RF'], key=ranks['RF'].get)[-5:]
data_4 = pd.DataFrame(data = data_4, columns = ['Features'])
data_4

            Features
0    YEAR BUILT_code
1      ZIP CODE_code
2  GROSS_SQUARE_FEET
3        TOTAL UNITS
4         BLOCK_code

# Objective 5

In [44]:
from keras.models import Sequential
from tensorflow.keras import layers
from tensorflow.keras import activations
from keras.layers import Dense
from keras.optimizers import Adam
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredError

# define the keras model
model = Sequential()

model.add(Dense(32, input_dim=20, activation='relu', kernel_initializer='normal'))
model.add(Dense(32, activation='relu', kernel_initializer='normal'))
model.add(Dense(32, activation='relu', kernel_initializer='normal'))
model.add(Dense(1,  kernel_initializer='normal'))
opt = Adam(lr=0.0005, decay=0.0000025)

model.compile(loss=MeanSquaredError(),optimizer=opt,metrics=['mse','mae'])

In [45]:
model.fit(X,y,epochs=200)
model.summary()

Epoch 1/200
535/535 [==============================] - 1s 2ms/step - loss: 0.9212 - mse: 0.9212 - mae: 0.3411
Epoch 2/200
535/535 [==============================] - 1s 2ms/step - loss: 0.3238 - mse: 0.3238 - mae: 0.1343
Epoch 3/200
535/535 [==============================] - 1s 2ms/step - loss: 0.4909 - mse: 0.4909 - mae: 0.1089
Epoch 4/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0260 - mse: 0.0260 - mae: 0.0305
Epoch 5/200
535/535 [==============================] - 1s 2ms/step - loss: 0.5920 - mse: 0.5920 - mae: 0.1237
Epoch 6/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0246 - mse: 0.0246 - mae: 0.0494
Epoch 7/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0980 - mse: 0.0980 - mae: 0.0616
Epoch 8/200
535/535 [==============================] - 1s 2ms/step - loss: 0.1392 - mse: 0.1392 - mae: 0.0691
Epoch 9/200
535/535 [==============================] - 1s 2ms/step - loss: 0.2373 - mse: 0.2373 - mae: 0.0390
Epoch 10/200
535/535 [==============================] - 1s 2ms/step - loss: 0.5530 - mse: 0.5530 - mae: 0.0602
Epoch 11/200
535/535 [==============================] - 1s 2ms/step - loss: 1.0380 - mse: 1.0380 - mae: 0.1088
Epoch 12/200
535/535 [==============================] - 1s 2ms/step - loss: 0.1065 - mse: 0.1065 - mae: 0.0479
Epoch 13/200
535/535 [==============================] - 1s 2ms/step - loss: 0.1627 - mse: 0.1627 - mae: 0.0182
Epoch 14/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0467 - mse: 0.0467 - mae: 0.0124
Epoch 15/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0307 - mse: 0.0307 - mae: 0.0121
Epoch 16/200
535/535 [==============================] - 1s 2ms/step - loss: 0.2433 - mse: 0.2433 - mae: 0.0200
Epoch 17/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0047 - mse: 0.0047 - mae: 0.0078
Epoch 18/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0183 - mse: 0.0183 - mae: 0.0087
Epoch 19/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0109 - mse: 0.0109 - mae: 0.0068
Epoch 20/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0020 - mse: 0.0020 - mae: 0.0053
Epoch 21/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0041 - mse: 0.0041 - mae: 0.0067
Epoch 22/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0075 - mse: 0.0075 - mae: 0.0061
Epoch 23/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0359 - mse: 0.0359 - mae: 0.0102
Epoch 24/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0407 - mse: 0.0407 - mae: 0.0120
Epoch 25/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0107 - mse: 0.0107 - mae: 0.0091
Epoch 26/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0189 - mse: 0.0189 - mae: 0.0078
Epoch 27/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0155 - mse: 0.0155 - mae: 0.0078
Epoch 28/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0043 - mse: 0.0043 - mae: 0.0070
Epoch 29/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0035 - mse: 0.0035 - mae: 0.0058
Epoch 30/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0045 - mse: 0.0045 - mae: 0.0059
Epoch 31/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0034 - mse: 0.0034 - mae: 0.0058
Epoch 32/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0384 - mse: 0.0384 - mae: 0.0093
Epoch 33/200
535/535 [==============================] - 1s 2ms/step - loss: 0.0029 - mse: 0.0029 - mae: 0.0055
Epoch 34/200
535/535 [==============================] - 1s 2ms/step - loss: 2.0040e-04 - mse: 2.0040e-04 - mae: 0.0042
Epoch 35/200
535/535 [==============================] - 1s 2ms/step - loss: 4.0976e-05 - mse: 4.0976e-05 - mae: 0.0039
Epoch 36/200
535/535 [==============================] - 1s 2ms/step - loss: 3.2419e-05 - mse: 3.2419e-05 - mae: 0.0038
Epoch 37/200
535/535 [==============================] - 1s 2ms/step - loss: 3.5277e-05 - mse: 3.5277e-05 - mae: 0.0039
Epoch 38/200
535/535 [==============================] - 1s 2ms/step - loss: 1.4654e-04 - mse: 1.4654e-04 - mae: 0.0040
Epoch 39/200
535/535 [==============================] - 1s 2ms/step - loss: 3.6885e-04 - mse: 3.6885e-04 - mae: 0.0041
Epoch 40/200
535/535 [==============================] - 1s 2ms/step - loss: 3.4190e-05 - mse: 3.4190e-05 - mae: 0.0038
Epoch 41/200
535/535 [==============================] - 1s 2ms/step - loss: 4.0109e-05 - mse: 4.0109e-05 - mae: 0.0038
Epoch 42/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5711e-05 - mse: 2.5711e-05 - mae: 0.0038
Epoch 43/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5591e-05 - mse: 2.5591e-05 - mae: 0.0038
Epoch 44/200
535/535 [==============================] - 1s 2ms/step - loss: 2.7208e-05 - mse: 2.7208e-05 - mae: 0.0038
Epoch 45/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5765e-05 - mse: 2.5765e-05 - mae: 0.0038
Epoch 46/200
535/535 [==============================] - 1s 2ms/step - loss: 2.6568e-05 - mse: 2.6568e-05 - mae: 0.0038
Epoch 47/200
535/535 [==============================] - 1s 2ms/step - loss: 3.6972e-05 - mse: 3.6972e-05 - mae: 0.0039
Epoch 48/200
535/535 [==============================] - 1s 2ms/step - loss: 1.6715e-04 - mse: 1.6715e-04 - mae: 0.0040
Epoch 49/200
535/535 [==============================] - 1s 2ms/step - loss: 1.3188e-04 - mse: 1.3188e-04 - mae: 0.0039
Epoch 50/200
535/535 [==============================] - 1s 2ms/step - loss: 3.8397e-05 - mse: 3.8397e-05 - mae: 0.0038
Epoch 51/200
535/535 [==============================] - 1s 2ms/step - loss: 1.0211e-04 - mse: 1.0211e-04 - mae: 0.0039
Epoch 52/200
535/535 [==============================] - 1s 2ms/step - loss: 3.7247e-05 - mse: 3.7247e-05 - mae: 0.0038
Epoch 53/200
535/535 [==============================] - 1s 2ms/step - loss: 2.6853e-05 - mse: 2.6853e-05 - mae: 0.0038
Epoch 54/200
535/535 [==============================] - 1s 3ms/step - loss: 2.6102e-05 - mse: 2.6102e-05 - mae: 0.0038
Epoch 55/200
535/535 [==============================] - 1s 3ms/step - loss: 2.5242e-05 - mse: 2.5242e-05 - mae: 0.0038
Epoch 56/200
535/535 [==============================] - 1s 3ms/step - loss: 2.5190e-05 - mse: 2.5190e-05 - mae: 0.0038
Epoch 57/200
535/535 [==============================] - 1s 3ms/step - loss: 2.5208e-05 - mse: 2.5208e-05 - mae: 0.0038
Epoch 58/200
535/535 [==============================] - 1s 3ms/step - loss: 2.6946e-05 - mse: 2.6946e-05 - mae: 0.0038
Epoch 59/200
535/535 [==============================] - 1s 3ms/step - loss: 2.5385e-05 - mse: 2.5385e-05 - mae: 0.0038
Epoch 60/200
535/535 [==============================] - 1s 3ms/step - loss: 2.5283e-05 - mse: 2.5283e-05 - mae: 0.0038
Epoch 61/200
535/535 [==============================] - 1s 3ms/step - loss: 2.5226e-05 - mse: 2.5226e-05 - mae: 0.0038
Epoch 62/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5355e-05 - mse: 2.5355e-05 - mae: 0.0038
Epoch 63/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5105e-05 - mse: 2.5105e-05 - mae: 0.0038
Epoch 64/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5186e-05 - mse: 2.5186e-05 - mae: 0.0038
Epoch 65/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5083e-05 - mse: 2.5083e-05 - mae: 0.0038
Epoch 66/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5613e-05 - mse: 2.5613e-05 - mae: 0.0038
Epoch 67/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5669e-05 - mse: 2.5669e-05 - mae: 0.0038
Epoch 68/200
535/535 [==============================] - 1s 2ms/step - loss: 2.6302e-05 - mse: 2.6302e-05 - mae: 0.0038
Epoch 69/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5219e-05 - mse: 2.5219e-05 - mae: 0.0038
Epoch 70/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5150e-05 - mse: 2.5150e-05 - mae: 0.0038
Epoch 71/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5101e-05 - mse: 2.5101e-05 - mae: 0.0038
Epoch 72/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5029e-05 - mse: 2.5029e-05 - mae: 0.0038
Epoch 73/200
535/535 [==============================] - 1s 2ms/step - loss: 2.5029e-05 - mse: 2.5029e-05 - mae: 0.0038
Epoch 74/200
535/535 [==============================] - 1s 2ms/step - loss: 2.4985e-05 - mse: 2.4985e-05 - mae: 0.0037
Epoch 75/200
535/535 [==============================] - 1s 2ms/step - loss: 2.4991e-05 - mse: 2.4991e-05 - mae: 0.0037
Epoch 76/200
535/535 [==============================] - 1s 2ms/step - loss: 2.4810e-05 - mse: 2.4810e-05 - mae: 0.0037
Epoch 77/200
535/535 [==============================] - 1s 2ms/step - loss: 1.9675e-05 - mse: 1.9675e-05 - mae: 0.0031
Epoch 78/200
535/535 [==============================] - 1s 2ms/step - loss: 1.9497e-05 - mse: 1.9497e-05 - mae: 0.0031
Epoch 79/200
535/535 [==============================] - 1s 2ms/step - loss: 2.7591e-05 - mse: 2.7591e-05 - mae: 0.0032
Epoch 80/200
535/535 [==============================] - 1s 2ms/step - loss: 2.1204e-05 - mse: 2.1204e-05 - mae: 0.0032
Epoch 81/200
535/535 [==============================] - 1s 2ms/step - loss: 1.9095e-05 - mse: 1.9095e-05 - mae: 0.0031
Epoch 82/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8967e-05 - mse: 1.8967e-05 - mae: 0.0031
Epoch 83/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8858e-05 - mse: 1.8858e-05 - mae: 0.0031
Epoch 84/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8894e-05 - mse: 1.8894e-05 - mae: 0.0031
Epoch 85/200
535/535 [==============================] - 1s 2ms/step - loss: 1.9160e-05 - mse: 1.9160e-05 - mae: 0.0031
Epoch 86/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8820e-05 - mse: 1.8820e-05 - mae: 0.0030
Epoch 87/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8793e-05 - mse: 1.8793e-05 - mae: 0.0031
Epoch 88/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8747e-05 - mse: 1.8747e-05 - mae: 0.0030
Epoch 89/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8776e-05 - mse: 1.8776e-05 - mae: 0.0030
Epoch 90/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8716e-05 - mse: 1.8716e-05 - mae: 0.0030
Epoch 91/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8825e-05 - mse: 1.8825e-05 - mae: 0.0030
Epoch 92/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8791e-05 - mse: 1.8791e-05 - mae: 0.0031
Epoch 93/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8778e-05 - mse: 1.8778e-05 - mae: 0.0031
Epoch 94/200
535/535 [==============================] - 1s 2ms/step - loss: 1.9487e-05 - mse: 1.9487e-05 - mae: 0.0031
Epoch 95/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8779e-05 - mse: 1.8779e-05 - mae: 0.0030
Epoch 96/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8665e-05 - mse: 1.8665e-05 - mae: 0.0030
Epoch 97/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8685e-05 - mse: 1.8685e-05 - mae: 0.0030
Epoch 98/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8783e-05 - mse: 1.8783e-05 - mae: 0.0031
Epoch 99/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8646e-05 - mse: 1.8646e-05 - mae: 0.0030
Epoch 100/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8683e-05 - mse: 1.8683e-05 - mae: 0.0030
Epoch 101/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8606e-05 - mse: 1.8606e-05 - mae: 0.0030
Epoch 102/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8592e-05 - mse: 1.8592e-05 - mae: 0.0030
Epoch 103/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8586e-05 - mse: 1.8586e-05 - mae: 0.0030
Epoch 104/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8640e-05 - mse: 1.8640e-05 - mae: 0.0030
Epoch 105/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8575e-05 - mse: 1.8575e-05 - mae: 0.0030
Epoch 106/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8737e-05 - mse: 1.8737e-05 - mae: 0.0030
Epoch 107/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8775e-05 - mse: 1.8775e-05 - mae: 0.0030
Epoch 108/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8701e-05 - mse: 1.8701e-05 - mae: 0.0030
Epoch 109/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8696e-05 - mse: 1.8696e-05 - mae: 0.0030
Epoch 110/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8603e-05 - mse: 1.8603e-05 - mae: 0.0030
Epoch 111/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8701e-05 - mse: 1.8701e-05 - mae: 0.0030
Epoch 112/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8560e-05 - mse: 1.8560e-05 - mae: 0.0030
Epoch 113/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8725e-05 - mse: 1.8725e-05 - mae: 0.0030
Epoch 114/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8528e-05 - mse: 1.8528e-05 - mae: 0.0030
Epoch 115/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8556e-05 - mse: 1.8556e-05 - mae: 0.0030
Epoch 116/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8469e-05 - mse: 1.8469e-05 - mae: 0.0030
Epoch 117/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8538e-05 - mse: 1.8538e-05 - mae: 0.0030
Epoch 118/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8492e-05 - mse: 1.8492e-05 - mae: 0.0030
Epoch 119/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8532e-05 - mse: 1.8532e-05 - mae: 0.0030
Epoch 120/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8572e-05 - mse: 1.8572e-05 - mae: 0.0030
Epoch 121/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8623e-05 - mse: 1.8623e-05 - mae: 0.0030
Epoch 122/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8674e-05 - mse: 1.8674e-05 - mae: 0.0030
Epoch 123/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8527e-05 - mse: 1.8527e-05 - mae: 0.0030
Epoch 124/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8631e-05 - mse: 1.8631e-05 - mae: 0.0030
Epoch 125/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8709e-05 - mse: 1.8709e-05 - mae: 0.0030
Epoch 126/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8643e-05 - mse: 1.8643e-05 - mae: 0.0030
Epoch 127/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8657e-05 - mse: 1.8657e-05 - mae: 0.0030
Epoch 128/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8599e-05 - mse: 1.8599e-05 - mae: 0.0030
Epoch 129/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8554e-05 - mse: 1.8554e-05 - mae: 0.0030
Epoch 130/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8708e-05 - mse: 1.8708e-05 - mae: 0.0030
Epoch 131/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8512e-05 - mse: 1.8512e-05 - mae: 0.0030
Epoch 132/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8497e-05 - mse: 1.8497e-05 - mae: 0.0030
Epoch 133/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8445e-05 - mse: 1.8445e-05 - mae: 0.0030
Epoch 134/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8470e-05 - mse: 1.8470e-05 - mae: 0.0030
Epoch 135/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8538e-05 - mse: 1.8538e-05 - mae: 0.0030
Epoch 136/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8440e-05 - mse: 1.8440e-05 - mae: 0.0030
Epoch 137/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8377e-05 - mse: 1.8377e-05 - mae: 0.0030
Epoch 138/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8426e-05 - mse: 1.8426e-05 - mae: 0.0030
Epoch 139/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8428e-05 - mse: 1.8428e-05 - mae: 0.0030
Epoch 140/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8494e-05 - mse: 1.8494e-05 - mae: 0.0030
Epoch 141/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8406e-05 - mse: 1.8406e-05 - mae: 0.0030
Epoch 142/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8521e-05 - mse: 1.8521e-05 - mae: 0.0030
Epoch 143/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8380e-05 - mse: 1.8380e-05 - mae: 0.0030
Epoch 144/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8411e-05 - mse: 1.8411e-05 - mae: 0.0030
Epoch 145/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8386e-05 - mse: 1.8386e-05 - mae: 0.0030
Epoch 146/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8627e-05 - mse: 1.8627e-05 - mae: 0.0030
Epoch 147/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8491e-05 - mse: 1.8491e-05 - mae: 0.0030
Epoch 148/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8456e-05 - mse: 1.8456e-05 - mae: 0.0030
Epoch 149/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8392e-05 - mse: 1.8392e-05 - mae: 0.0030
Epoch 150/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8505e-05 - mse: 1.8505e-05 - mae: 0.0030
Epoch 151/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8457e-05 - mse: 1.8457e-05 - mae: 0.0030
Epoch 152/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8363e-05 - mse: 1.8363e-05 - mae: 0.0030
Epoch 153/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8515e-05 - mse: 1.8515e-05 - mae: 0.0030
Epoch 154/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8391e-05 - mse: 1.8391e-05 - mae: 0.0030
Epoch 155/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8325e-05 - mse: 1.8325e-05 - mae: 0.0030
Epoch 156/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8386e-05 - mse: 1.8386e-05 - mae: 0.0030
Epoch 157/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8391e-05 - mse: 1.8391e-05 - mae: 0.0030
Epoch 158/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8333e-05 - mse: 1.8333e-05 - mae: 0.0030
Epoch 159/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8514e-05 - mse: 1.8514e-05 - mae: 0.0030
Epoch 160/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8270e-05 - mse: 1.8270e-05 - mae: 0.0030
Epoch 161/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8189e-05 - mse: 1.8189e-05 - mae: 0.0030
Epoch 162/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8282e-05 - mse: 1.8282e-05 - mae: 0.0030
Epoch 163/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8223e-05 - mse: 1.8223e-05 - mae: 0.0030
Epoch 164/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8811e-05 - mse: 1.8811e-05 - mae: 0.0030
Epoch 165/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8465e-05 - mse: 1.8465e-05 - mae: 0.0030
Epoch 166/200
535/535 [==============================] - 1s 2ms/step - loss: 2.2055e-05 - mse: 2.2055e-05 - mae: 0.0031
Epoch 167/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8646e-05 - mse: 1.8646e-05 - mae: 0.0030
Epoch 168/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8407e-05 - mse: 1.8407e-05 - mae: 0.0030
Epoch 169/200
535/535 [==============================] - 1s 2ms/step - loss: 1.8347e-05 - mse: 1.8347e-05 - mae: 0.0030
Epoch 170/200